@import './basscss'

// Colours
$black = #191919
$pink = #E80C7A
$brand-primary = $pink;
$grey-lightest = #EEEEEE;

// Base
html, body
  height 100%

// Typography
$base = 14px

// Elements
$sidebar-width = 280px

body
  font-size $base
  font-family 'Open Sans', sans-serif

// Headings
h1, .h1
  font-size 2.5rem

h2, .h2
  font-size 2rem

h3, .h3
  font-size 1.8rem

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  font-family 'Open Sans', sans-serif
  text-transform uppercase

h2, .h2
  margin 0
  display block
  padding 45px 0
  margin-bottom: 40px;
  width 100%
  border-bottom 1px solid $grey-lightest

blockquote
  margin 20px 0
  padding 0 20px
  font-style italic
  border-left 2px solid $brand-primary
  max-width 800px

// Branding
.brand
  display block
  background #141414
  padding 20px

  .logo
    width (124 / 2)px
    height (144 / 2)px
    background url('../img/logo.png') no-repeat
    background-size cover
    display inline-block

  .h1
    color #fff
    display inline-block
    vertical-align top
    margin-left 15px
    margin-top 20px

   &:hover, &:focus
    text-decoration none
   
// Sidebar
.sidebar
  background $black
  height 100%
  width $sidebar-width
  position fixed
  border-right 2px solid $brand-primary

// Main
.main
  width 100%
  padding 0 40px 40px ($sidebar-width + 80)px

// Navigation
.navigation > ul
  
  a
    display block
    position relative
    text-transform uppercase
    color #ccc
    text-decoration none

  li.active a
    color #fff
  
  > li > a
    padding 25px 20px
    border-bottom 1px solid #272727

  > li.active > a
    background $brand-primary

  // Sub navigation
  li > ul
    background #202020
    display none
    border-bottom 1px solid #272727

  li.active > ul
    display block

  li li.active a
    &:before
      content ' '
      position absolute
      left 20px
      top 20px
      width 6px
      height 6px
      border-radius 100%
      background-color $brand-primary

  li li > a
    font-size 1.15rem
    padding 15px 20px 15px 40px
        
// Github
.github
  position absolute
  right 40px
  top 38px
  width (66 / 2)px
  height (64 / 2)px
  background url('../img/github.png') no-repeat
  background-size cover
  display inline-block

.version
  background #141414
  color #fff
  text-transform uppercase
  font-size 0.85rem
  position fixed
  bottom 0
  right 0
  padding 4px 12px