/*
 * Swanky Theme
 * Colours (Aussie-style)
 */

// Primary Colours
$deep-sky-blue = #0EB4C9
$malachite = #21e779
$lemon = #ffe11A
$swanky-red = #FF5A60
$swanky-blue = #43BDD4

// Secondary Colours
$elf-green = #1f8a70
$astronaut-blue = #0EB4C9
$gold-tips = #fd7400

// Blacks & Greys
$night-rider = #2e2e2e
$grey-smoke = #ccc
$white-smoke = #eee
$alabaster = #f8f8f8

$black = #000
$white = #fff

// Brand Colours
$brand-primary = $swanky-red
$brand-secondary = $swanky-blue
$brand-tertiary = $lemon

$border-colour = $white-smoke
$block-background-colour = $alabaster
